.Header {
    width: 90%;
    height: 5%;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -3.5%;
    position: sticky;
    top: 0%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.863);
    background-color: white;
  }
  .logo {
    font-size: 300%;
    display: flexbox;
    margin-top: 0%;
  }