.conitem {
    width: 30%;
    height: 30%;
    margin: 1.2%;
    box-shadow: 3px 3px 3px grey;
    border-radius: 15%;
    display: flexbox;
    font-size: 120%;
  }
  .Content {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  .proimg {
    width: 200px;
    height: 220px;
    border-radius: 15%;
    padding-top: 5%;
  }
  .info {
    display: flex;
    justify-content: left;
    height: 20%;
    margin-left: 2%;
  }
  .name {
    display: inline-block;
    line-height: 200%;
    width: 50%;
    font-size: 1.2em;
    font-weight: bold;
  }
  .add {
    display: inline-block;
    float: right;
    padding-left: 0%;
    width: 25%;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 300%;
  }
  .cate {
    display: inline-block;
    float: right;
    overflow: visible;
    width: 15%;
    padding-right: 3%;
    padding-left: 1%;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 300%;
  }
  @media (max-width: 600px)
  {
    .name {
      font-size: 0.8em;
    }
    .add {
      font-size: 0.5em;
    }
    .cate {
      font-size : 0.5em;
    }
    .conitem {
      width: 45%;
      height: 45%;
    }
    .proimg {
      width: 130px;
      height: 130px;
    }
  }